/.idea/
/terraform.tfstate
/terraform.tfstate.backup
/dynamoDb-streams.iml
/.terraform/
/node_modules/aws-sdk/
/node_modules/
/lambda-function/node_modules/
/.terraform.lock.hcl
/.terraform.tfstate.lock.info
